{
  "presets": ["react-native", "react-native-dotenv", "babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      },
      "extensions": [".js"]
    }]
  ]
}
